@import '~view-design/src/styles/index.less';

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;

// .ivu-table-fixed, .ivu-table-fixed-right{
//     top: 48px;
// }
.ivu-modal{
    .ivu-modal-header{
        background-color: #001529;
        .ivu-modal-header-inner{
            color: rgba(255,255,255,0.7);
        }
    }
    .ivu-modal-close .ivu-icon-ios-close:hover{
        color: red;
    }
}

.ivu-upload-list{
    margin-top: 0;
}

// 表格头部
.table_header_box{
    border: 1px solid #dcdee2;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}